.popup {
     position: fixed;
     top:0;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.2);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 4;
}
.formTitle1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: black;
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 50%;
    background-color: #fff;
    border-radius: 6px;

}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 10px;
    border: none;
    background: transparent;
}

.popup-inner input{
    width: 45%;
    background: #F8F8F8;
    border-radius: 4px;
    border: none;

}
.Fmessage {
    height: 100px !important;
    margin-top: 3%;
    background: #F8F8F8;
    border-radius: 4px;
    border: none;
}
@media screen and (max-width:430px) and (min-width:376px){
.popup-inner {
    position: relative;
    padding: 32px;
    width: 83%;
    background-color: #fff;
    height: 67%;
} 
.popup-inner .close-btn {
    border: 0px;
    background: transparent;
}
.popup-inner input {
    width: 98%;
    background: #F8F8F8;
    border-radius: 4px;
    border: none;
}  
.popup-inner {
    height: auto;
}
.Fmessage {
    height: 100px !important;
    margin-top: 3%;
    background: #F8F8F8;
    border-radius: 4px;
    border: none;
}
.formTitle1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: black;
}
}

@media screen and (max-width:375px){
    .formTitle1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 33px;
        letter-spacing: -0.03em;
        color: black;
    }
}

.formTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
input {
     padding: 2%;
     border-radius: 7px;
    }
    .Fname {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #929292;
        margin: 2% 4% 4% 0;
        width: 45%;
    }
    .Femail {
        font-family: 'Poppins';
        font-style: normal;
         font-weight: 500;
         font-size: 14px;
         line-height: 21px;
         color: #929292;
         width: 45%;
        }
        .Fphone {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #929292;
            margin: 2% 4% 4% 0;
            width: 93%;
        }
        .Fmessage {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #929292;
            padding: 2%;
            width: 93%;
            height: 30%;
        
        }
        .Fbutton {
            background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
            border-radius: 8px;
            padding: 1% 5%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: #FFFFFF;
             margin: 8% 0 0 75%;
              border: none;
            }

            .Fbutton1 {
                background: linear-gradient(272.33deg, #AD00FF 21.7%, #FF7A00 103.44%);
                border-radius: 8px;
                padding: 1% 5%;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                color: #FFFFFF;
                 margin: 8% 0 0 75%;
                  border: none;
                }